# Set:

In [3]:
g={45,'a',45,120,155,450,'Ramu'}
print(g)

{450, 45, 'a', 'Ramu', 120, 155}

In [4]:
g

{120, 155, 45, 450, 'Ramu', 'a'}

In [5]:
h={}
m={2}
print(h,type(h))
print(m,type(m))

{} <class 'dict'>
{2} <class 'set'>

In [6]:
print(dir(set))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [7]:
s1={34,67,'ramu',0,'lls'}
s1.add('lvs')
print(s1)

{'ramu', 0, 34, 67, 'lvs', 'lls'}

In [9]:
print(s1)
s1.pop()
print(s1)

{'ramu', 0, 34, 67, 'lvs', 'lls'}
{0, 34, 67, 'lvs', 'lls'}

In [10]:
print(s1)
s1.pop()
print(s1)

{0, 34, 67, 'lvs', 'lls'}
{34, 67, 'lvs', 'lls'}

In [11]:
print(s1)
s1.pop('lls')
print(s1)

{34, 67, 'lvs', 'lls'}

TypeError: pop() takes no arguments (1 given)

In [12]:

print(s1)
s1.remove('lvs')
print(s1)

{34, 67, 'lvs', 'lls'}
{34, 67, 'lls'}

In [13]:
print(s1)
s1.remove(2)
print(s1)

{34, 67, 'lls'}

KeyError: 2

In [14]:
s2={45,8,32,5,6}
s3={1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s3.union(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{32, 1, 2, 5, 6, 7, 456, 8, 45, 123}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

In [15]:
s2={45,8,32,5,6}
s3={1,2,5,7,6,123,456}
print(s2)
print(s3)
print(s3.intersection(s2))
print(s2)
print(s3)

{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}
{5, 6}
{32, 5, 6, 8, 45}
{1, 2, 5, 6, 7, 456, 123}

# Dictionary:

In [17]:
t={'name':('ramu','suresh','lls'),'age':20,'sal':[24.500,48.560]}
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56]}

In [18]:
print(t['sal'][0])

24.5

In [19]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [20]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [21]:
print(t.values())

dict_values([('ramu', 'suresh', 'lls'), 20, [24.5, 48.56]])

In [22]:
y={'name':"tilak","age":[45,59],"sal":0}
print(y)

{'name': 'tilak', 'age': [45, 59], 'sal': 0}

In [23]:
print(t.items())

dict_items([('name', ('ramu', 'suresh', 'lls')), ('age', 20), ('sal', [24.5, 48.56])])

In [ ]:
[(key,value),(),()]

In [26]:
print(t.get('name'))
print(t.get('age'))
print(t.get('no'))

('ramu', 'suresh', 'lls')
20
None

In [27]:
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56]}

In [28]:
print(t)
t['no']=[12,78,89,450]
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56]}
{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}

In [29]:
print(t)
t['no']='yamini'
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': [12, 78, 89, 450]}
{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}

In [30]:
print(t)
t.setdefault('tr')
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini'}
{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}

In [32]:
print(t)
t.update({'tr':45})
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': None}
{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [33]:
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 45}

In [34]:
print(t.update({'tr':'ramu'}))

None

In [35]:
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [36]:
print(t)
print(t.pop('age'))
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'age': 20, 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
20
{'name': ('ramu', 'suresh', 'lls'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}

In [38]:
print(t)
print(t.popitem())
print(t)

{'name': ('ramu', 'suresh', 'lls'), 'sal': [24.5, 48.56], 'no': 'yamini', 'tr': 'ramu'}
('tr', 'ramu')
{'name': ('ramu', 'suresh', 'lls'), 'sal': [24.5, 48.56], 'no': 'yamini'}

In [42]:
q=['name','age','sal']
w=[12,45,78,98,45]
print(q)
print(w)
f={'name':34,'donor':45}
f.fromkeys(q)
f.fromkeys(w)
print(f)
print(q)
print(w)
# syntax:fromkeys([],values)

['name', 'age', 'sal']
[12, 45, 78, 98, 45]
{'name': 34, 'donor': 45}
['name', 'age', 'sal']
[12, 45, 78, 98, 45]

In [4]:
marks={}.fromkeys(["Maths","Python","C++"],[0,45])
print(marks)

{'Maths': [0, 45], 'Python': [0, 45], 'C++': [0, 45]}
{'Maths': [0, 45], 'Python': [0, 45], 'C++': [0, 45]}